* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
@font-face {
    font-family: "SuisseIntl-Black-Regular";
    src: url(../fonts/SuisseIntl-Regular.otf);
}
@font-face {
    font-family: "SuisseIntl-Black-Medium";
    src: url(../fonts/SuisseIntl-Medium.otf);
}
body{
    font-family: "SuisseIntl-Black-Regular";
    height: 100%;
}
a{
    text-decoration: none;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-container {
    width: 100%;
    max-width: 1600px;
}

.header-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-center a{
    font-size: 16px;
    text-decoration: none;
    color: black;
    padding: 6px 12px;
    transition: 0.1s;
}

.header-center a:hover {
    background: #415FF1;
    padding: 6px 12px;
    color: white;
    border-radius: 10px;
    transition: 0.1s;
}
.header-right a{
    color: black;
    text-decoration: none;
}
.header-right a:hover{
    color: #415FF1;
}




/* Бургер */
.header-burger {
    width: 40px;
    height: 40px;
    position: relative;
    border: none;
    background: none;
    display: none;
    z-index: 2;
}

.header-burger span{
    position: absolute;
    width: 30px;
    height: 3px;
    background: #242424;
    left: 0;
    transition: transform .5s, opacity .5s, backround .5s;
}

/* Перенести отдельный элемент span  */
.header-burger span:nth-child(1){
    transform: translateY(-10px);
}
.header-burger span:nth-child(3){
    transform: translateY(10px);
}

.header.open .header-burger span:nth-child(1){
    transform: translateY(0) rotate(45deg);
}
.header.open .header-burger span:nth-child(2){
    opacity: 0;
}
.header.open .header-burger span:nth-child(3){
    transform: translateY(0) rotate(-45deg);
}


/* Бургер */











.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1600px;
}

.main-cards {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}
.main-card {
    width: 790px;
    height: 440px;
}

.main-card-forum {
    background: #415FF1;
    padding: 20px;
    border-radius: 20px;
}

.main-card-homework {
    background: #54D678;
    padding: 20px;
    border-radius: 20px;
}

.main-card-conspect {
    background: #FFB11A;
    padding: 20px;
    border-radius: 20px;
}

.main-card-faq {
    background: #A06DF4;
    padding: 20px;
    border-radius: 20px;
}

.main-card-link{
    display: flex;
    flex-direction: column;
    gap: 10px;
    
}
.main-card-link a{
    color: white;
    padding: 10px 20px;
    border: 1px solid white;
    border-radius: 10px; 
    transition: 0.2s;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis; 
}

.main-card-link a:hover {
    background: white;
    color: #0a0a0a;
    transition: 0.1s;
}

.main-card-btn a{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    border-radius: 10px; 
    background: white;
    color: black;
}
.main-card-btn a:hover {
    background: #e8e8ea;
}

.main-card-h3 {
    background: white;
    padding: 10px 20px;
    color: black;
    border-radius: 14px;
    width: 200px;
}

.main-card-cards {
    width: 250px;
    height: 245px;
    background: white;
    padding: 10px;
    border-radius: 10px;
    overflow: hidden;
}
.main-card-cards h2{
    color: #54D678;
}
.main-card-cards_card {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.main-card-cards_card_card {
    width: 230px;
    background: #54D678;
    padding: 10px;
    height: 180px;
    border-radius: 10px;
}
.main-card-cards_card p{
    color: white;
}

.main-card-HW {
    display: flex;
    gap: 4px;
}








.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #242424;
    margin-top: 10em;
}

.footer-container {
    width: 100%;
    max-width: 1600px;
}

.footer-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.footer-inner h3{
    font-size: 16px;
}

.footer-left {
    color: #AEAEAE;
}
.footer-right {
    display: flex;
    gap: 20px;
}
.footer-right a{
    text-decoration: none;
    color: white;
    transition: 0.1s;
}
.footer-right a:hover {
    color: #415FF1;
    transition: 0.1s;
}







/* Свайпер */
.slider-container {
    position: relative;
    max-width: 1600px;
    margin: auto;
    overflow: hidden;
    z-index: -1;
}

.slider {
    display: flex;
}

.slide {
    width: 100%;
    display: none;
}

.prev, .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
}

.prev {
    left: 0;
}

.next {
    right: 0;
}
/* Свайпер */





















/* Регистрация */

.reg {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.reg-container {
    width: 100%;
    max-width: 1600px;
}

.reg-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.reg-card {
    display: flex;
    gap: 30px;
    border: 1px solid #AEAEAE;
    padding: 0px 30px 0 0px;
    border-radius: 20px;
}

.reg-card-form img{
    margin-top: 1em;
}
.reg-card-form h1{
    margin-bottom: 1em;
    margin-top: 1em;
}

.reg-form form{
    display: flex;
    flex-direction: column;
}

.reg-form label {
    color: #AEAEAE;
    font-size: 14px;
}

.reg-form input {
    margin: 10px 0;
    padding: 12px 24px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    outline: none;
    color: #000000;
    width: 400px;
    background: none;
    font-size: 16px;
}

.reg-form button {
    border: none;
    background: #415FF1;
    color: white;
    padding: 16px;
    font-weight: bold;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.2s;
}
.reg-form button:hover {
    background: #2541cc;
    transition: 0.2s;
}

.reg-form p{
    font-size: 14px;
    color: #AEAEAE;
}

.reg-form a{
    color: #415FF1;
    transition: 0.2s;
}

.reg-form a:hover {
    color: #2541cc;
    transition: 0.2s;
}

.reg-card-link {
    display: flex;
    align-items: center;
    justify-content: center;
}




/* О нас */
.main-oNas-name h1{
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Профиль */
.main-profile-title p{
    color: #AEAEAE;
    font-size: 14px;
}

.main-profile-title a{
    background: #415FF1;
    padding: 4px 16px;
    border-radius: 8px;
    color: white;
    transition: 0.2s;
}
.main-profile-title a:hover {
    transition: 0.2s;
    background: #2541cc;
}
.main-profile-card {
    display: flex;
    gap: 30px;
}

.main-profile-card p{
    margin-bottom: 30px;
}

.main-profile-infoAccount {
    padding: 30px;
    border: 1px solid #AEAEAE;
    border-radius: 20px;
}




.main-faq {
    margin-bottom: 6em;
}

.filter-panel {
    float: left;
    margin-right: 20px;
    position: fixed;
}

.filter-button {
    display: flex;
    border: 1px solid #AEAEAE;
    padding: 8px 20px;
    background: none;
    border-radius: 6px;
    font-size: 16px;
    width: 200px;
    margin-bottom: 10px;
}

.filter-button:hover {
    background-color: #415FF1;
    color: white;
}

.main-filter-panel {
    display: flex;
    gap: 30px;
}

.faq-item h1 {
    font-size: 40px;
    color: #415FF1;
}

.faq-item div{
    font-family: "SuisseIntl-Black-Medium";
    font-size: 18px;
}

.answer {
    display: none; 
}
.faq-item {
    width: 1000px;
    border: 1px solid #AEAEAE;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
}

.faq-item p{
    padding-top: 16px;
}








/* Версии */
.main-inner-vers a{
    border: 1px solid #415FF1;
    padding: 6px 10px;
    transition: 0.1s;
    border-radius: 6px;
    color: #415FF1;
}

.main-inner-vers a:hover {
    background: #415FF1;
    border: none;
    color: white;
    transition: 0.1s;
}








/* Домашка */
.homework-filter-panel {
    display: flex;
    gap: 20px;
}

.homework-filter-panel h3{
    background: #242424;
    padding: 6px 10px;
    color: white;
    border-radius: 6px;
}
.homework-calendar {
    display: flex;
    flex-wrap: wrap;
}

.main-homework {
    display: flex;
}


.homework-item {
    width: 400px;
}

.homework-calendar {
    display: flex;
    gap: 20px;
}

.homework-calendar-day {
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.homework-calendar-day h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    background: #415FF1;
    padding: 12px;
    color: white;
    border-radius: 10px;
}

.homework-card-cards {
    width: 250px;
    height: 320px;
    background: #415FF1;
    padding: 10px;
    color: white;
    border-radius: 10px;
}

.homework-card-cards_card {
    background: white;
    color: #242424;
    height: 180px;
    padding: 10px;
    border-radius: 10px;
}

.homework-card-cards h2{
    display: -webkit-box;
    -webkit-line-clamp: 2; 
    -webkit-box-orient: vertical;
    overflow: hidden;
}

/* Скрыть все карточки домашних заданий при загрузке страницы */
.homework-item, .homework-card-cards{
    display: none;
}

/* Показать только выбранную карточку домашних заданий */
.homework-item.active, .homework-card-cards.active{
    display: block;
}

.homework-card-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}


/* Домашка */











/* Статистика */

.main-profile-dashboard {
    margin-top: 2rem;
    --circle-size: 400px;
    --cl-green: #54D678;
    --cl-blue: #415FF1;
    --cl-black: #242424;
    --cl-grey: #AEAEAE;
    --cl-orange: #FFB11A;
    --cl-red: #FE5959;
    --cl-purple: #A06DF4;
}
.dashboard-container {
    margin-top: 2rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap; 
    justify-content: space-between;
    margin-bottom: 3rem;
}
.dashboard-cell {
    flex-direction: column;
}
.dashboard-cell h1 {
    font-size: 2.5em;
}
.dot-point-cont {
    
    width: 1em;
    height: 1em;
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.dot-point {
    width: 15px;
    height: 15px;
    background: var(--color);
    border-radius: 100%;
    padding-top: 0.5em;
}
.legend-container {
    flex-direction: row;
    display: flex;
    gap: 0.7em;
    margin-bottom: 1.5em;
}
.statistic-container {
    padding: 10px 1.5em 10px 1.5em;
    border: 1px solid #AEAEAE;
    border-radius : 15px;
    margin-bottom: 0.5rem;
}
.circle-container {
    display: flex; 
    position: relative;
    justify-content: center;
    margin-top: calc(3rem);
}
.graph-label-container {
    width: calc((var(--circle-size) / 2) + 50px);
    height: calc((var(--circle-size) / 2) + 50px);
    background: white;
    position: absolute;
    z-index: 1;
    border-radius: 100%;
    top: 3%;
    left: 19%;
}
.graph {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin: calc(var(--circle-size) / 3) 0;
    width: var(--circle-size);
    text-align: center;
    transform: rotate(135deg);
  }
  
  .pie {
    width: var(--circle-size);
    aspect-ratio:1;
    position:absolute;
  }
  .pie:before,
  .pie:after {
    content:"";
    position:absolute;
    border-radius:50%;
  }
  .pie:before {
    inset:0;
    background: radial-gradient(farthest-side,var(--c) 98%,#0000) top/var(--b) var(--b) no-repeat,
            conic-gradient(var(--c) calc(var(--p)*1%),#0000 0);
  }
  .no-round:before {
    background-size:0 0,auto;
  }
  .no-round:after {
    content:none;
  }

  /* Статистика */









  /* Форум */

.forum {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.forum-container {
    width: 100%;
    max-width: 1600px;
}

.forum-btn {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.forum-btn-tema {
    display: grid;
    grid-template-columns: 2fr 1fr;
    border: 1px solid #242424;
    padding: 10px 20px;
    border-radius: 10px;
}

.forum-btn-tema-data {
    display: grid;
    grid-template-columns: 1fr 2fr;
}

.forum-btn-tema-name a{
    color: #242424;
}

.forum-btn-tema-name a:hover {
    color: #415FF1;
}

.forum-rules a{
    color: #415FF1;
    border-bottom: 1px solid #415FF1;
    transition: 0.1s;
}

.forum-rules a:hover {
    color: #2541cc;
    transition: 0.1s;
}

.forum-title {
    display: flex;
    align-items: center;
    justify-content: center;
}


.forum-btn-subject {
    display: flex;
    align-items: center;
    gap: 10px;
}
.forum-btn-subject img{
    width: 20px;
}

.forum-btn-subject a{
    display: flex;
    align-items: center;
    gap: 6px;
    color: #242424;
    border: 1px solid #242424;
    padding: 18px;
    width: 100%;
    border-radius: 10px;
    transition: 0.2s;
}
.forum-btn-subject a:hover{
    background: #e8e8ea;
    border: 1px solid #e8e8ea;
    transition: 0.2s;
}





.forum_top_img {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.forum_top_img p{
    color: #AEAEAE;
    font-size: 14px;
}
.forum_top {
    display: flex;
    gap: 30px;
}

.forum_top_txt div{
    width: 900px;
}

.forum_botton {
    display: flex;
}

.forum_botton_like, .forum_botton_dislike {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
}

.forum_botton_like {
    border: 1px solid #AEAEAE;
    padding: 10px;
    border-radius: 20px 0 0 20px;
    width: none;
}
.forum_botton_dislike {
    border: 1px solid #AEAEAE;
    padding: 10px;
    border-radius: 0px 20px 20px 0;
    width: none;
}

.forum_inner-card {
    border: 1px solid #AEAEAE;
    padding: 20px;
    border-radius: 10px;
}

.forum_btn_repeat a{
    background: #242424;
    color: white;
    padding: 10px 40px;
    border-radius: 10px;
    font-size: 16px;
    transition: 0.1s;
}

.forum_btn_repeat a:hover {
    background: #0a0a0a;
    transition: 0.1s;
}

.forum_inner-line {
    border-bottom: 3px solid #AEAEAE;
}


.forum_inner-border {
    border: 1px solid #A06DF4;
    padding: 20px;
    border-radius: 10px;
}


.conspect-title {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70vh;
}


/* Бустрап стили */

.btn-secondary button {
    background: #0a0a0a;
    font-size: 14px;
    font-weight: 500;
    color: white;
    border: none;
    font-family: "SuisseIntl-Black-Regular";
    width: 260px;
}

.dropdown button:hover {
    background: #0a0a0a;
    color: white;
}

.btn {
    background: black;
}

.btn-secondary {
    width: 200px;
}
.dropdown-menu {
    width: 200px;
}

.dropdown-back {
    background: #242424;
    color: white;
    padding: 10px 20px;
    border-radius: 6px;
}












@media (max-width: 1550px) {
    .main-card {
        width: 680px;
    }
}

@media (max-width: 1400px) {
    .main-card {
        width: 640px;
    }
}











@media (max-width: 1300px) {
    /* Главная */
    .header-container {
        width: 100%;
        max-width: 1200px;
    }
    .header-left img{
        width: 160px;
    }
    .header-center a{
        font-size: 14px;
    }


    .main-container {
        width: 100%;
        max-width: 1200px;
    }

    .slider-container {
        max-width: 1280px;
    }

    .main-card {
        width: 560px;
    }

    .main-card-cards_card_card {
        width: 230px;
        height: 170px;
    }

    .main-cards {
        gap: 16px;
    }


    .footer-container {
        width: 100%;
        max-width: 1200px;
    }
    .footer-right a{
        font-size: 16px;
    }
}









@media (max-width: 1152px) {
    .main-card {
        width: 480px;
    }
    .footer-right a{
        font-size: 14px;
    }
    .main-cards {
        gap: 10px;
    }

    .footer-right a{
        font-size: 14px;
    }
    .footer-center img{
        width: 130px;
    }
    .footer-left h3{
        font-size: 14px;
    }
    .header-center a{
        font-size: 14px;
    }
}


@media (max-width: 970px) {
    .main-container {
        width: 100%;
        max-width: 950px;
    }
    .main-card {
        width: 380px;
    }
}







@media (max-width: 800px) {
    /* Главная */
    .header-container {
        width: 100%;
        max-width: 720px;
    }




    .header-burger {
        display: block;
    }

    .header-center {
        position: absolute;
        left: -200px;
        top: 0;
        background: #415FF1;
        padding: 50px 10px 10px 10px;
        width: 200px;
        transition: transform .5s;
    }
    .header-center a{
        color: white;
    }
    .header-center a:hover {
        border: 1px solid white;
    }

    .header-menu{
        display: flex;
        flex-direction: column;
    }
    .header.open .header-center{
        transform: translateX(100%);
    }
    .header-right {
        display: flex;
        gap: 2px;
    }
    .header-right h4{
        font-size: 12px;
    }
    .header-right img{
        width: 26px;
    }





    .main-container {
        width: 100%;
        max-width: 720px;
    }

    .slider-container {
        max-width: 720px;
    }

    .main-card {
        width: 340px;
        height: 400px;
    }

    .main-card-cards_card_card {
        width: 230px;
        height: 130px;
    }

    .main-cards {
        gap: 4px;
    }

    .main-card-h3 h3{
        font-size: 14px;
    }
    .main-card-link a{
        font-size: 12px;
    }
    .main-card-cards h2{
        font-size: 12px;
    }
    .main-card-cards_card_card p{
        font-size: 12px;
    }
    .main-card-cards {
        width: 250px;
        height: 218px;
        padding: 10px;
    }
    .main-card-btn a{
        font-size: 12px;
        padding: 10px;
    }



    .footer-container {
        width: 100%;
        max-width: 720px;
    }
    .footer-left h3{
        font-size: 10px;
    }
    .footer-right a{
        font-size: 10px;
    }
    .footer-center img{
        width: 100px;
    }

}

@media (max-width: 680px) {
    .header-container {
        max-width: 620px;
    }
    .main-card {
        width: 500px;
        height: 400px;
    } 
}






@media (max-width: 540px) {

    .header-container {
        max-width: 480px;
    }

    .header-right h4{
        font-size: 10px;
    }

    .main-card {
        width: 480px;
        height: 400px;
    } 

    .footer-left h3{
        font-size: 10px;
        margin-top: 10px;
    }

    .footer-container {
        width: 100%;
        max-width: 480px;
    }

    .footer-center img{
        width: 70px;
    }

    .footer-right {
        margin-bottom: 10px;
    }

    .footer-inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}



@media (max-width: 480px) {
    .header-container {
        max-width: 400px;
    }

    .header-left img{
        width: 100px;
    }

    .main-card {
        width: 360px;
    } 

    .header-burger span{
        width: 24px;
        height: 2px;
    }

    .header-burger span:nth-child(1){
        transform: translateY(-8px);
    }
    .header-burger span:nth-child(2){
        transform: translateY(0px);
    }
    .header-burger span:nth-child(3){
        transform: translateY(8px);
    }
}

@media (max-width: 381px) {
    .header-container {
        max-width: 340px;
    }

    .header-left img{
        width: 90px;
    }

    .main-card {
        width: 320px;
    } 
}